# Test data
!tests/test_data_sample.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
notebooks/*.ipynb

# Data files
*.csv
data/*.csv
!data/ncr_ride_bookings.csv
!data/*.dvc
!data/*.dvc

# DVC
!*.dvc
!.dvc
.dvc/

# Logs
*.log
logs/

# VSCode
.vscode/

# Mac
.DS_Store
